html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}

/* UNIVERSAL */
#navBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100px;
}

#navBar li a {
  display: block;
  color: #000;
  padding: 6px 16px;
  text-decoration: none;
  font-size: 18px;
}

#navBar li a:hover {
  color: #05269D;
  transition: color .2s ease-out;
}

.container {
  overflow: hidden;
}

.modalClass {
  background-color: #FFF;
}

.backArrow {
  position: fixed;
  width: 50px;
  height: auto;
  cursor: pointer;
  padding: 15px;
  z-index: 900;
}

.backArrow:hover {
  animation: bob 1s infinite;
}

@-webkit-keyframes bob {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@keyframes bob {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

/* LANDING PAGE */
.landingShape {
  position: absolute;
  height: 225px;
  border-radius: 30px;
  right: -30px;
}

#shape1 {
  background-color: #b2e3ff;
  width: 30%;
  top: 10%;
  z-index: 3;
}

#shape2 {
  background-color: #001972;
  width: 70%;
  top: 30%;
  z-index: 2;
}

#shape3 {
  background-color: #efefef;
  width: 50%;
  top: 50%;
  z-index: 1;
}

#shape2 h1 {
  color: #FFF;
  font-size: 82px;
  font-weight: 400;
  letter-spacing: 6px;
  margin: 0;
  padding-top: 15px;
  padding-left: 30px;
}

/* ABOUT PAGE */
#aboutContainer {
  width: 900px;
  height: 280px;
  margin: auto;
  margin-top: 130px;
  background-color: #b2e3ff;
  border-radius: 40px;
  display: flex;
}

#aboutContainer img {
  position: relative;
  bottom: 40px;
  width: 300px;
  height: 394px;
  border-radius: 40px;
}

#aboutContainer p {
  font-size: 18px;
  width: 400px;
  padding-left: 40px;
}

#aboutContainer span {
  font-weight: 600;
  color: #001972;
}

/* WORK PAGE */
#workContainer {
  width: 40%;
  float: right;
  background-color: #001972;
}

.workDiv {
  position: relative;
  height: 350px;
  width: 300px;
  background-color: #b2e3ff;
  border-radius: 40px;
  margin: 50px;
  right: 250px;
  text-align: center;
}

.workDiv img {
  float: right;
  height: 300px;
  width: auto;
  border-radius: 40px;
  padding-bottom: 10px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.workDiv img:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.workDiv h3 {
  font-weight: normal;
  font-size: 20px;
  color: #001972;
  margin-bottom: -30px;
}

/* CONTACT PAGE */
#iconSquare {
  position: relative;
  height: 150px;
  width: 150px;
  background-color: #b2e3ff;
  border-radius: 40px;
  left: 225px;
  bottom: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#iconSquare img {
  width: 80px;
  height: auto;
}

#formContainer {
  width: 420px;
  height: 450px;
  margin: auto;
  margin-top: 120px;
  background-color: #001972;
  border-radius: 40px;
  font-weight: 300;
}

#formContainer form {
  margin-top: -90px;
}

#formContainer label {
  color: #FFF;
  font-size: 18px;
  margin-left: 22px;
}

.formControl {
  width: 370px;
  height: 30px;
  border: 1px solid #b2e3ff;
  border-radius: 5px;
  background-color: #ebf8ff;
  margin: 5px 22px 5px 22px;
  font: 300 16px 'IBM Plex Sans';
}

.formControl:focus {
  outline: 0 solid #FFF;
}

#formContainer textarea {
  resize: none;
  height: 150px;
  font: 300 16px 'IBM Plex Sans';
}

#formContainer input[type='submit'] {
  width: 100px;
  height: 40px;
  margin-left: 22px;
  border-radius: 5px;
  background-color: #b2e3ff;
  font-size: 18px;
  color: #001972;
  border-width: 0;
}

#formContainer input[type='submit']:hover {
  background-color: #ebf8ff;
  cursor: pointer;
  transition: 0.1s background-color linear, 0.1s color linear;
}
